footer(class="text-center py-4 mt-10 mb-10 h-4/5")
  div.container.mx-auto
    p.text-sm &copy; 2024 Climate Solutions. All rights reserved.
    div.flex.justify-center.space-x-4.mt-2
      a(href="/privacy" class="text-sm text-gray-600 hover:text-gray-800") Privacy Policy
      a(href="/terms" class="text-sm text-gray-600 hover:text-gray-800") Terms of Service
      a(href="/contact" class="text-sm text-gray-600 hover:text-gray-800") Contact Us