nav.navbar
  .flex-1
    a(href="/" class=`text-xl ${currentPage === '/' ? 'active' : ''}`) Climate Solutions
  .flex-1
    a(href="/about" class=`${currentPage === '/about' ? 'active' : ''}`) About
  .flex-1
    a(href="/solutions/addProject" class=`${currentPage === '/solutions/addProject' ? 'active' : ''}`) Add Project
  .flex-1.dropdown
    a(href="/solutions/projects" class=`${currentPage === '/solutions/projects' ? 'active' : ''}`) View Projects
script.
  document.addEventListener('DOMContentLoaded', function () {
    const navbar = document.querySelector('.navbar');
    document.addEventListener('scroll', function () {
      if (window.scrollY > 0) {
        navbar.style.position = 'fixed';
        navbar.style.zIndex = '99';
      } else {
        navbar.style.position = 'static';
      }
    });
  });