doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 404
    link(rel="stylesheet" href=`/css/main.css?ts=${timestamp}`)
    link(rel="stylesheet" href=`/css/custom.css?ts=${timestamp}`)
  body
    include partials/navbar.pug
    .min-h-screen.hero
      .hero-overlay.bg-opacity-60
      .hero-content.text-neutral-content.text-center.z-auto
        .max-w-md
          h1.mb-5.text-5xl.font-bold 404
          if message
            p.py-6= message
          else
            p.py-6 Sorry, the page you are looking for does not exist.
          a.btn.btn-primary.btn-sm(href="/") Go Home
    include partials/footer.pug