<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
  <nav class="navbar bg-base-100">
    <div class="flex-1"><a href="/" class="text-xl">Climate Solutions</a></div>
    <div class="flex-1"><a href="/about" class="active">About</a></div>
    <div class="flex-1 dropdown">
      <button type="button">Sector</button>
      <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
        <li><a href="/solutions/projects?sector=1">Project 1</a></li>
        <li><a href="/solutions/projects?sector=2">Project 2</a></li>
        <li><a href="/solutions/projects?sector=3">Project 3</a></li>
      </ul>
    </div>
  </nav>
  <div class="container mx-auto">
    <div class="hero bg-base-200 p-4">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">About</h1>
          <p class="py-6">All about me</p>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 p-2">
      <img src="https://fakeimg.pl/350" alt="A representation of me" class="h-auto">
      <div>
        <h2 class="text-3xl font-bold mb-1">Who am I?</h2>
        <p>I enjoy hiking, reading, and coding in my free time.</p>
        <p>Currently, I am taking courses in web development.</p>
        <p>Exploring new technologies and working on open-source projects are some of my passions.</p>
        <p>I also love traveling and experiencing different cultures.</p>
        <p>In addition, I am learning about climate change and sustainable solutions to make a positive impact on the
          environment.</p>
        <p>My goal is to combine my technical skills with my passion for sustainability to create innovative solutions.
        </p>
      </div>
    </div>
  </div>
</body>

</html>